# PlatformIO
.pio/
.pioenvs/
.build/

# VSCode
.vscode/
*.code-workspace

# IntelliSense cache files
.vscode/.browse.c_cpp.db*
.vscode/ipch/

# OS/System files
.DS_Store
Thumbs.db

# Python virtualenv 
venv/
